#### Lists is an ordered sequences that can hold a variety of object types

In [1]:
mylist = [1,2,3]

In [2]:
mylist = ['STRING',100,23.2]

In [3]:
len(mylist)

3

In [8]:
mylist = ['one','two','three']

In [9]:
mylist

['one', 'two', 'three']

#### As with strings lists can be indexed, concatenated and sliced

In [20]:
mylist[1]

'two'

In [21]:
mylist[1:]

['two', 'three']

In [22]:
another_list = ['four','five']

In [23]:
mylist + another_list

['one', 'two', 'three', 'four', 'five']

In [24]:
new_list = mylist+another_list

In [16]:
new_list

['one', 'two', 'three', 'four', 'five']

#### Unlike strings, lists can me mutate, meaning that we can change a member of the list

In [25]:
new_list[0] = 'ONE ALL CAPS'

In [26]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

Another common operation is to add an element to the end of the list. 

We can do this by typing new_list dot tab and we should see all the methods available to the list

In [27]:
new_list.append('six')

In [28]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [29]:
new_list.append('seven')

In [30]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [31]:
new_list.pop()

'seven'

In [32]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [33]:
popped_item = new_list.pop()

In [34]:
popped_item

'six'

In [35]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [36]:
new_list.pop(0)

'ONE ALL CAPS'

In [37]:
new_list

['two', 'three', 'four', 'five']

In [39]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [40]:
new_list.sort()

In [41]:
new_list

['a', 'b', 'c', 'e', 'x']

Sort doesn't return anything, it's just sort the list. So a common error is to create a new variable and assign it the sorted list. It will be empty

In [48]:
my_sorted_list = new_list.sort()

In [49]:
my_sorted_list

#this should return nothing, and we can check below

In [50]:
type(my_sorted_list)

NoneType

In [51]:
None 
#this is a special value in python

In [52]:
num_list

[4, 1, 8, 3]

In [53]:
num_list.sort()

In [54]:
num_list

[1, 3, 4, 8]

In [55]:
num_list.reverse()

In [57]:
num_list

[8, 4, 3, 1]

Lists FAQ

1. How do I index a nested list? For example if I want to grab 2 from [1,1,[1,2]]?

You would just add another set of brackets for indexing the nested list, for example: my_list[2][1] . We'll discover later on more nested objects and you will be quizzed on them later!