# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

#### Numbers: Store numerical information. 
Could be Integer or Floating Point. Integers are just whole numbers, positive or negative. Floating point numbers are numbers with decimals. In Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. 
#### Strings: Ordered sequence of characters.
Indexed, ordered, unmutable
#### Lists: Ordered sequence of objects (mutable)
Lists is an ordered sequences that can hold a variety of object types. As with strings lists can be indexed, concatenated and sliced. Unlike strings, lists can be mutated, meaning that we can change a member of the list.
#### Tuples: Ordered sequence of objects (unmutable)
Tuples are very similar to lists. However they have one key difference - immutability. Once an element is inside a tuple, it can't be reassigned.
#### Dictionaries: Key-Value pairing that is unordered
Use a key-balue pairing, objects retirieved by key name. They can't be sorted. The key-value pair allows users to quickly grab objects without needing to know an index location.
#### Sets: 
are unordered collections of unique elements
#### Booleans: 
True or False statements. None is like a placeholder type




 
---





## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
25*2+60-10+1/4

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5 = 29
    
    What is the value of the expression 4 + 6 * 5 = 34

In [4]:
4 * (6 + 5)

44

In [5]:
4 * 6 + 5

29

In [6]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br> 
Answer: Floating point number

In [7]:
type(3 + 1.5 + 4)

float

What would you use to find a numberâ€™s square root, as well as its square?

In [11]:
# Square root:
16**0.5

4.0

In [12]:
# Square:
4**2

16

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [59]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using slicing:

In [60]:
s ='hello'
# Reverse the string using slicing

s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [18]:
s ='hello'
# Print out the 'o'

# Method 1:

s[4]

'o'

In [19]:
# Method 2:

s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [21]:
# Method 1:
lst = [0,0,0]
lst

[0, 0, 0]

In [61]:
# Method 2:
[0]*3

[0, 0, 0]

In [62]:
#Method not in the answer
lst=[]
lst.append(0)
lst.append(0)
lst.append(0)
lst

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [31]:
list3 = [1,2,[3,4,'hello']]

list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [33]:
list4 = [5,3,4,6,1]

list4.sort()
list4

[1, 3, 4, 5, 6]

In [63]:
#built-in function - return the sorted list
sorted(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [64]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [65]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [66]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [67]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>

Answer: No. Because normal dictionaries are mappings and not a sequence. They use the pair of key-value instead.

## Tuples

What is the major difference between tuples and lists?<br><br>

Tuples are unmutable, while elements of a list can be changed

How do you create a tuple?<br><br>

In [51]:
t=(1,2,3)
type(t)

tuple

## Sets

What is unique about a set?<br><br>

Sets contain only unique values of the objects of the same type. They are unordered

Use a set to find the unique values of the list below:

In [52]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [53]:
# Answer before running cell - False
2 > 3

False

In [54]:
# Answer before running cell - False
3 <= 2

False

In [55]:
# Answer before running cell - False
3 == 2.0

False

In [69]:
# Answer before running cell - True
3.0 == 3

True

In [57]:
# Answer before running cell - False
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [58]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False? 3 >=4 False 
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!